.headerDiv {
   background-image: linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -o-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -moz-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -webkit-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -ms-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);

  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.46, rgb(146,220,252)),
	  color-stop(0.73, rgb(130,232,255)),
	  color-stop(0.87, rgb(213,242,255))
);
}

.header_title {
  font-size: 24px;
  font-weight: bold;
  font-family: arial;
  color: #1c94bd;
  margin-right: 20px;
  text-shadow: 0px 2px gray;
  text-align: center;
}

.header_subtitle {
  font-size: 16px;
  font-weight: bold;
  font-family: arial;
  color: #1c94bd;
  margin-right: 20px;
  text-shadow: 0px 2px gray;
  text-align: center;
}

.internal_link {
  font-size: 8px;
  font-family: arial;
  color: #1c94bd;
  margin-right: 20px;
}
