/* CSS Document */
body {
  font-family : arial;
}

div {
  border-radius : 3px;
}

#main_header_container {
  position: relative;
  width : 1200px;
  margin-right : auto;
  margin-left : auto;
}
#user_details_container {
  text-align : left;
}

.center {
  text-align : center;
}

.section_title {
  margin-top: 15px;
  font-size : 25px;
  clear: both;
}

#add_expense_container {
  margin-top : 20px;
  width: 50%;
}

input, select{
  border-radius : 3px;
  border-color : #91b9f5;
}

.reg_text{
  font-size : 12px;
  font-family : arial;
}

#bucket_management {
  background-color : #ddedf2;
  padding : 8px 3px;
  width : 500px;
  margin : 0px auto;
  text-align : right;
}

#add_expense_row {
  padding : 8px 3px;
  background-color : #ddedf2;
  width : 500px;
}

#output_table thead {
  background-color : #ddedf2;
}

#output_table th {
  color : #7daebc;
  font-size : 13px;
}

#output_table td {
  border-bottom : 1px solid #e5e5e5;
}

#output_table td:first-child {
  border-right : 1px solid #e5e5e5;
}

#output_table td:last-child {
  border-left : 1px solid #e5e5e5;
}

