<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  

  <!--  NEW API -->
  <servlet>
    <servlet-name>getUserBucket</servlet-name>
    <servlet-class>com.yossale.server.api.GetUserBucketsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getUserBucket</servlet-name>
    <url-pattern>/api/getuserbuckets</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>saveUserBucket</servlet-name>
    <servlet-class>com.yossale.server.api.SaveUserBucketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>saveUserBucket</servlet-name>
    <url-pattern>/api/saveuserbucket</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteUserBucket</servlet-name>
    <servlet-class>com.yossale.server.api.DeleteUserBucketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>deleteUserBucket</servlet-name>
    <url-pattern>/api/deleteuserbucket</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve   
  <welcome-file-list>
    <welcome-file>/new</welcome-file>
  </welcome-file-list> -->
  
  <security-constraint>
      <web-resource-collection>
          <url-pattern>/new/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>

</web-app>
