.header_div {
   background-image: linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -o-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -moz-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -webkit-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  background-image: -ms-linear-gradient(bottom, rgb(213,242,255) 46%, rgb(130,232,255) 73%, rgb(146,220,252) 87%);
  height: 70px;

  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0.46, rgb(146,220,252)),
	  color-stop(0.73, rgb(130,232,255)),
	  color-stop(0.87, rgb(213,242,255))
);
}

.alltext {
  font-family: arial;
}

.header_title {
  font-size: 24px;
  font-weight: bold;
  color: #1c94bd;
  margin-right: 20px;
  text-shadow: 1px 1px gray;
  text-align: center;
}

.header_center {
  background: #96d7f5;
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px lightgray;
}

.current_bucket_name {

}

.header_subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #1c94bd;
  margin-right: 20px;
  text-shadow: 1px 1px gray;
  text-align: center;
}

.internal_link {
  font-size: 12px;
  font-family: arial;
  margin-right: 20px;
  color: #20a1ce;
}

.left_div {
  float: left;
}

#years_div {
  width: 50%;
}
