/* CSS Document */
#main_container {
  width : 1200px;
  margin-right : auto;
  margin-left : auto;
}
#user_details_container {
  text-align : left;
}

.center {
  text-align : center;
}

.section_title {
  font-size: 25px;
}

#add_expense {
  margin-top: 20px;
}