/* CSS Document */
body {
  font-family: arial;
}

#main_container {
  width : 1200px;
  margin-right : auto;
  margin-left : auto;
}
#user_details_container {
  text-align : left;
}

.center {
  text-align : center;
}

.section_title {
  font-size: 25px;
}

#add_expense_container {
  margin-top: 20px;
}

input, select{
  border-radius: 3px;
  border-color: #91b9f5;
}

.reg_text{
  font-size: 12px;
  font-family: arial;
}

#bucket_container {
  background-color: #ddedf2;
  border-radius : 3px;
  padding : 8px 3px;
  width : 400px;
  margin : 0px auto;
  text-align : right;
}

#add_expense_row {
  padding : 8px 3px;
  background-color: #ddedf2;
  width: 500px;
  border-radius: 3px;
}