<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>com.yossale.server.actions.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/obudget2/login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>expenseService</servlet-name>
    <servlet-class>com.yossale.server.actions.ExpenseServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>expenseService</servlet-name>
    <url-pattern>/obudget2/expense</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>bucketService</servlet-name>
    <servlet-class>com.yossale.server.actions.BucketServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>bucketService</servlet-name>
    <url-pattern>/obudget2/bucket</url-pattern>
  </servlet-mapping>

  <!--  NEW API -->
  <servlet>
    <servlet-name>getUserBucket</servlet-name>
    <servlet-class>com.yossale.server.api.GetUserBucketsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>getUserBucket</servlet-name>
    <url-pattern>/api/getuserbuckets</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>saveUserBucket</servlet-name>
    <servlet-class>com.yossale.server.api.SaveUserBucketServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>saveUserBucket</servlet-name>
    <url-pattern>/api/saveuserbucket</url-pattern>
  </servlet-mapping>
  
  <!--  Add task servlets -->
  <!-- Adds an update task to the task queue. Goes through the years "round robin",
       unless a "year=XXXX" parameter is specified. -->
  <servlet>
    <servlet-name>addUpdateTaskServlet</servlet-name>
    <servlet-class>com.yossale.server.cron.AddUpdateDBTaskServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addUpdateTaskServlet</servlet-name>
    <url-pattern>/cron/addupdatetask</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>addDeleteExpensesTaskServlet</servlet-name>
    <servlet-class>com.yossale.server.tasks.AddDeleteExpensesTaskServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>addDeleteExpensesTaskServlet</servlet-name>
    <url-pattern>/tasks/adddeleteexpensestask</url-pattern>
  </servlet-mapping>

  <!--  Do not run directly. These may take >60 secs and should only be run as a task. -->
  <servlet>
    <servlet-name>updateDBServlet</servlet-name>
    <servlet-class>com.yossale.server.tasks.UpdateDBFromYedaTask</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>updateDBServlet</servlet-name>
    <url-pattern>/tasks/updatedb</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>deleteExpensesTask</servlet-name>
    <servlet-class>com.yossale.server.tasks.DeleteExpensesTask</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>deleteExpensesTask</servlet-name>
    <url-pattern>/tasks/deleteexpenses</url-pattern>
  </servlet-mapping>
  <!-- Default page to serve -->  
  <welcome-file-list>
    <welcome-file>OBudget2.html</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
      <web-resource-collection>
          <url-pattern>/new/*</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>

</web-app>
